.profile img {
    border-radius: 50%;
}

.main {
    font-family: "Manrope" , sans-serif;
}

/* Profile */
.profile {
    display: flex;
    gap: 10px;
    max-width: 900px;
    align-items: center;
    padding-bottom: 80px;
}

.role {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.role p {
    margin: 0px;
}

.name p {
    font-weight:800;
}

.job p {
    font-weight:600;
    color: #cfcfcf;
}

/* Projects */
.worksflex {
    display: flex;
    gap: 14px;
    justify-content: flex-start;
    
}

.title h4 {
    font-weight:600;
    color: #cfcfcf;
}

.works img {
    border-radius: 4%;
}

.works {
    display: flex;
    flex-direction: column;
    gap: 14px
}

.title h4 {
    margin: 0px;
    width: 900px;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.works img {
    max-width: 100%;
    height: auto;
}

/* Contact: About*/
.about {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.paragraph {
    line-height: 32px;
    font-weight:600;
}

.links {
    gap: 1%;
}

.about p {
    margin: 0px;
}

/* Contact: Connect*/
.link h5 {
    line-height: 32px;
    font-weight:600;
    width: 900px;
    font-size: 16px;
    width: min-content;
    padding: 0px;
    margin: 0px;
}

.links {
    display: flex;
    gap: 12px;
    width: min-content;
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: min-content;
}

/* Contact: Copyright */
.Copyright {
    max-width: 900px;
}

.contact {
    gap: 5%;
}

/* Contact: Reachout*/
.email {
    margin: 0px;
    width: min-content;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: min-content;
}


/* Contact: Copyright*/
.Copyright h5 {
    font-weight:600;
    color: #cfcfcf;
    margin: 0px;
    width: 900px;
}
.Copyright {
    width: 900px;
}
.contact {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.Copyright h6 {
    margin: 0px;
    font-weight:600;
    color: #cfcfcf;
    font-size: 16px;
}

/* Web Design Layout Website */
.content {
    display: flex;
    flex-direction: column;
    gap: 80px;
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
}

.main {
    padding: 5% 2%;
}

/* Link Hover */
.link h5 a {
    text-decoration: none;
    color: black;
}

h5 a:hover {
    color: rgb(90, 90, 90);
    cursor: pointer;
    text-decoration: underline;
  }

  .worksworks {
    position: relative;
}

.worksworks:hover::before {
    content: "More About The Project";
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 19, 19, 0.724); /* Adjust darkness of background */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight:600;
    cursor: pointer;
    border-radius: 4%;
}

.worksworks:hover::before h4 {
    color: white; /* Color of the text */
    font-size: 14px;
}

.worksworks:hover::before i {
    color: white; /* Color of the arrow icon */
    font-size: 16px;
    margin-top: 8px; /* Adjust the space between text and icon */
}
