.profile img {
    border-radius: 50%;
}

.main {
    font-family: "Manrope" , sans-serif;
}

/* Profile */
.profile {
    display: flex;
    gap: 10px;
    max-width: 900px;
    align-items: center;
    padding-bottom: 80px;
}

.role {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.role p {
    margin: 0px;
}

.name p {
    font-weight:800;
}

.job p {
    font-weight:600;
    color: #cfcfcf;
}

/* Projects */
.worksflex {
    display: flex;
    gap: 14px;
    justify-content: flex-start;
    
}

.title h4 {
    font-weight:600;
    color: #cfcfcf;
}

.works img {
    border-radius: 4%;
}

.works {
    display: flex;
    flex-direction: column;
    gap: 14px
}

.title h4 {
    margin: 0px;
    width: 900px;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.works img {
    max-width: 100%;
    height: auto;
}

/* Contact: About*/
.about {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.paragraph {
    line-height: 32px;
    font-weight:600;
}

.links {
    gap: 1%;
}

.about p {
    margin: 0px;
}

/* Contact: Connect*/
.link h5 {
    line-height: 32px;
    font-weight:600;
    width: 900px;
    font-size: 16px;
    width: min-content;
    padding: 0px;
    margin: 0px;
}

.links {
    display: flex;
    gap: 12px;
    width: min-content;
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: min-content;
}

/* Contact: Copyright */
.Copyright {
    max-width: 900px;
}

.contact {
    gap: 5%;
}

/* Contact: Reachout*/
.email {
    margin: 0px;
    width: min-content;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: min-content;
}


/* Contact: Copyright*/
.Copyright h5 {
    font-weight:600;
    color: #cfcfcf;
    margin: 0px;
    width: 900px;
}
.Copyright {
    width: 900px;
}
.contact {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/* General */
.content {
    display: flex;
    flex-direction: column;
    gap: 80px;
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
}

.main {
    padding: 5% 2%;
}
